:root {
  --back: #fbf9fe;
  --text: #1e293b;
  --primary: #5B57E2;
  --primary-hov: #524DDB;
  --primary-foreground: #fbf4fe;
  --secondary: #f2f0f7;
  --secondary-foreground: #585e7a;
  --muted: #e5e3ec;
  --muted-foreground: #4c4768;
  --accent: #e6dfff;
  --accent-foreground: #4d4c8e;
  --err-back: #ffe9e9;
  --err-foreground: #f04545;
  --err-shadow: 0 1px 3px 0px hsl(0deg 84% 50% / 8%), 0 1px 2px -1px hsl(0deg 84% 50% / 8%);
  --font-family: "Rubik", sans-serif;
  --radius: 0.5rem;
  --shadow-xs: rgba(26, 0, 51, 0.1) 0px 0px 0px 1px;
  --shadow: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow-md:  rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-lg: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 4px 6px -1px hsl(0deg 0% 0% / 10%);
  --shadow-xl: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 8px 10px -1px hsl(0deg 0% 0% / 10%);
  --shadow-2xl: 0 1px 3px 0px hsl(0deg 0% 0% / 25%);
  --voki-cover-aspect-ratio: 1.5/1;

  background-color: var(--back);
}

html {
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

input,
textarea {
  font-family: var(--font-family);
  color: var(--text);

}

.unselectable {
  user-select: none;
}